*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    min-width: 400px;
}

header{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
    
    
}
.flex{
    display: flex;
}
.logo{
    width: 180px;
    height: 60px;
    background-image: url(./img/Logo\ avisa.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    opacity: 80%;
}
a{
    color: black;
    font-style: normal;
    text-decoration: none;
}
.menu{
    color: black;
    gap: 20px;
    font-size: 18px;
    
}
.menu a:hover{
    color:cadetblue;
}

.lang{
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    gap: 4px;
    
}
.lang:active{
    color: cadetblue; s
}
.lang a:hover{
    color: brown;
}
.desktop{
    background-image: url(./img/Logo\ avisa.PNG);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 30%;
    position: relative;
    margin-top: 60px;
    background-size: contain;
    
    
}
.textimag{
    position: absolute;
    width: 30%;
    height: 50%;
    left:35%;
    top:75%;
    font-size: clamp(14px, 4vw, 28px);
    border-top: 1px solid black;
    text-align: center;
    padding-top: 10px;
    
}
.contact{
    border-top: 1px solid rgb(38, 38, 38) ;
    margin-top: 40px;
    width: 100%;
    height: 470px;
    padding: 60px 30px ;
    margin-bottom: 100px;
    
}
.text-question{
    flex-grow: 0;
    flex-basis: 40%;
    font-size: clamp(12px 2vw 35px);
    height: 500px;
   
    
}
.text-question p{
   
    width: 100%;
    margin-top: 30px;
    
    text-align:justify;
    line-height: 30px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.question-box{
    
    flex-basis: 60%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.6);
    margin-left: 40px;
    height: 500px;
    border-radius: 20px;
    padding: 20px 40px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
    
}
.line1{
    line-height: 30px;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 90px;
    align-items: center;
    padding: 30px;
}
.line2{
    line-height: 30px;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 170px;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}
#box-q{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid gray ;
    padding: 10px;
    opacity: 70%;
}
#box-q2{
    width: 100%;
    height: 30px;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid gray;
    padding: 10px;
    opacity: 70%;
}
#box-q3{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid gray;
    padding: 10px;
    opacity: 70%;
}
#box-q4{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid gray;
    padding: 10px;
    opacity: 70%;
    
}
#country{
    border-right: none;
    border-radius: 2px;
    border-right: none;
    border-radius: 10px 0 0 10px ;
}
.submit{
    background-color: rgb(78, 97, 211);
    width: 200px;
    border-radius: 10px;
    height: 40px;
    color: white;
    border: none;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    padding: 10px;
}
.sizeinput{
    width: 100%;
    max-width: 700px;
}
.question-box h4{
    font-size: 1vw;
}

/*footer*/
.blackbox{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    color: white;
    flex-direction: column;
    border-radius: 10px;
    
}
.blackbox p{
    margin: 10px 20px;
    font-size: 1vw;
    text-align:justify;
    line-height: 25px;
    font-weight: lighter;
}

.top-box{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    gap: 5px;
    margin: 10px;
   
    
}
.sot{
    flex: 1 0 200px;
    height: 460px;
    padding: 10px;
    
    border-radius: 20px;
    background-color: rgb(38, 38, 38);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.6);
}
.bottom-box{
    border-top: 1px solid black;
    text-align: center;
    color: black;
    height: 70px;
    padding-bottom: 20px;
}
#contact p{
    text-align: center;
    line-height: 40px;
    margin-top: 80px;
}